# Dependencies
/node_modules/

# Environment variables
.env

# Production build folder
/build/

# macOS filesystem files
.DS_Store

# Editor directories and files
.idea
*.sublime-workspace
*.sublime-project
.vscode/

# Temporary files
.cache/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
